[color]
  ui = true
[alias]
  co = checkout
  s = status
  br = branch
  fpr = fetch --prune
  sw = switch
  r = restore
  pff = pull --ff-only

[github]
  user = elainenaomi

[include]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/dev/plataformatec/"]
  path = ~/.gitconfig.work
[core]
  editor = vi
  excludesfile = /Users/elainenaomi/.dotfiles/apps/git/.gitignore
  pager = "diff-so-fancy | less --tabs=4 -RFX"
[init]
	defaultBranch = main
