[color]
  ui = true
[alias]
  co = checkout
  s = status
  br = branch
  fpr = fetch --prune

[github]
  user = elainenaomi

[include]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/dev/plataformatec/"]
  path = ~/.gitconfig.work
[core]
	editor = vi
	excludesfile = /Users/elainewatanabe/.dotfiles/apps/git/.gitignore
